%p#notice= notice

%p
  %b Name:
  = @season.name
%p
  %b Slug:
  = @season.slug
%p
  %b Start:
  = @season.start
%p
  %b Expiry:
  = @season.expiry

= link_to 'Edit', edit_season_path(@season)
\|
= link_to 'Back', seasons_path
