%header.page-header.hero-unit
  %h1
    Nilgiri
    %small.visible-desktop{style: 'display: inline!important'} TEA party Score Registration Tool

%article.row-fluid
  %section.span4.offset2
    .pull-right{style: 'text-align: right'}
      %h1
        %a{href: '/score/register'} Score Registration
        &laquo;
      %p.lead Upload your score.
  %section.span4
    %h1
      &raquo;
      %a{href: '/signup'} Sign up
    %p.lead Create your account.

%article
  .row-fluid
    %section#news.span6
      %h1 News
      - unless Post.exists?
        %p No news articles are available.
      - else
        .row-fluid
          - Post.desc(:updated_at).limit(3).each do |post|
            %section.news-item.span4.well
              %h1
                %a{href: "/news/#{post.id}"}= post.title
              %p= summerize(post.body)
              %p.updated_at= post.updated_at.strftime('%Y-%m-%d %H:%M')
    %section.span6
      %h1 Information
      %section
        %p I'm testing Nilgiri now... Please report any bugs if you find, and any other feedbacks are welcome!
  .row-fluid
    %section
      %h1 Current Top 3 <small>for #{settings.season}</small>
      .tabbable
        %ul.nav.nav-pills.nav-stacked.span3
          - MACHINES.each do |k, name|
            %li
              %a{href: "#rank_#{k}", data: {toggle: 'pill'}}= name
        .tab-content.span9
          - MACHINES.each do |k, name|
            .tab-pane{id: "rank_#{k}"}
              %h1.machine-title= name
              %p
                %a{href: "/score/machine/#{k}"} Show More
              .row-fluid
                - DIFFICULTIES[k].each do |difficulty|
                  - col = Integer(12.0 / DIFFICULTIES[k].size)
                  %section{class: "span#{col}"}
                    %h1.difficulty= difficulty
                    %table.table
                      %tbody
                        - Score.where(machine: k, difficulty: difficulty, season: settings.season).desc(:score).limit(3).each_with_index do |score, idx|
                          %tr
                            %td= idx + 1
                            %td= score.player.screen_name
                            %td= print_score(score)
