%header.page-header
  %h1 Score: #{MACHINES[@machine]} <small>for #{@season}</small>

%article
  - col = Integer(12.0 / DIFFICULTIES[@machine].size)
  .row-fluid
    - DIFFICULTIES[@machine].each do |difficulty|
      %section{class: "span#{col}"}
        %h1= difficulty
        %table.table.table-striped
          %thead
            %th Rank
            %th Name
            %th Score
          %tbody
            - Score.where(registration_target: @season, machine: @machine, difficulty: difficulty).desc(:score).each_with_index do |score, idx|
              %tr
                %td= idx + 1
                %td= score.player.screen_name
                %td= print_score(score)
