%p#notice= notice

%p
  %b Playstyle:
  = @score.playstyle
%p
  %b Difficulty:
  = @score.difficulty
%p
  %b Score:
  = @score.score
%p
  %b Player:
  = @score.player
%p
  %b Music:
  = @score.music
%p
  %b Season:
  = @score.season

= link_to 'Edit', edit_score_path(@score)
\|
= link_to 'Back', scores_path
