.top-banner.text-center
  %h1
    Nilgiri
    %small TEA party score registration tool
  - if player_signed_in?
    = link_to 'Submit Score', new_score_path, class: "large button success radius"
  - else
    = link_to 'Sign up', new_player_registration_path, class: "large button success radius"
    %br
    Already have an account?
    = link_to 'Sign in', new_player_session_path

.row
  %h1= link_to 'News', posts_path
  - if @top_post
    .show-for-medium-up
      %section#top-post.panel.small-6.columns
        %h2
          = link_to @top_post.title, post_path(@top_post)
          %small= @top_post.updated_at.strftime('%Y-%m-%d')
        %p.show-for-medium-up= truncate(@top_post.body, length: 100)
        %p.show-for-small-only= truncate(@top_post.body, length: 30)
      - if @recent_posts.present?
        %section.small-6.columns
          %h2 More Articles
          %ul.small-block-grid-5
            - for post in @recent_posts
              %li
                .show-for-medium-up
                  = link_to post.title, post_path(post)
                  %br
                  %small= post.updated_at.strftime('%Y-%m-%d')
                .show-for-small-only
                  = link_to truncate(post.title, length: 20), post_path(post)
          - if @is_more_posts
            %p= link_to 'more...', posts_path
    .show-for-small-only
      %ul
        %li
          %b= link_to @top_post.title, @top_post
        - @recent_posts.each do |post|
          %li= link_to post.title, post
  - else
    %p No news articles.

- if @current_season.present?
  .row
    .small-12.columns
      %p
        We are now in the season
        = surround '"' do
          %strong= @current_season.name
        (till #{@current_season.expiry})

- if @top_scores.present?
  .row
    .small-12.columns
      %h1
        Top
        %small for #{@current_season.name}
      .row
        %dl.vertical.tabs{data: {tab: true}, style: 'word-wrap: break-word;'}
          - for machine in Machine.all
            %dd= link_to machine.name, "##{machine.slug}"
        .small-12.columns.vertical.tabs-content
          - @top_scores.each do |machine, musics|
            .content{id: machine.slug, style: 'width: 100%;'}
              .row
                %h2= link_to machine.name, machine_path(machine)
                - musics.each do |music, item|
                  %h3= music.name
                  - if machine.playstyles.present?
                    .row
                      - item.each do |playstyle, item|
                        .large-6.small-12.columns
                          %table
                            %caption= playstyle
                            = render partial: 'rank', locals: { item: item }
                  - else
                    %table
                      = render partial: 'rank', locals: { item: item }
