%h1 Listing players

%table
  %tr
    %th Name
    %th Screen name
    %th Password
    %th Twitter
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.name
      %td= player.screen_name
      %td= player.password
      %td= player.twitter_id
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
