.row
  .small-12.columns
    %h1 Resend unlock instructions
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .row
        .small-12.large-2.columns
          = f.label :email, class: "right inline"
        .small-12.large-4.columns
          = f.email_field :email, autofocus: true
      .row
        .small-12.columns
          = f.submit "Resend unlock instructions", class: 'button'

= render "players/shared/links"
