.row
  .small-12.columns
    %h1 Musics
    %table
      %tr
        %th Name
        %th Artist
        %th Machine
        %th Season
        %th

      - @musics.each do |music|
        %tr
          %td= music.name
          %td= music.artist
          %td= music.machine.name
          %td= music.season.name
          %td= link_to 'Show', music
