%p#notice= notice

%p
  %b Name:
  = @music.name
%p
  %b Artist:
  = @music.artist
%p
  %b Machine:
  = @music.machine
%p
  %b Season:
  = @music.season

= link_to 'Edit', edit_music_path(@music)
\|
= link_to 'Back', musics_path
