%p#notice= notice

%p
  %b Name:
  = @machine.name
%p
  %b Slug:
  = @machine.slug
%p
  %b Difficulties:
  = @machine.difficulties
%p
  %b Playstyles:
  = @machine.playstyles

= link_to 'Edit', edit_machine_path(@machine)
\|
= link_to 'Back', machines_path
