.row
  %h1= @machine.name
  .small-12.columns
    - if @current_season.present?
      .row
        .small-12.columns
          %h2 Musics
          %ul
            - for music in @musics
              %li= link_to music.name, anchor: music.id
      .row
        .small-12.columns
          %h2 Ranking
          - @ranking.each do |music, items|
            .row
              .small-12.columns
                %h2{id: music.id}= music.name
                - if @machine.playstyles.present?
                  - items.each do |playstyle, items|
                    %div{class: "large-#{12 / @machine.playstyles.size} columns"}
                      .row
                        .small-12.columns
                          %h3= playstyle
                          - items.each do |difficulty, scores|
                            .row
                              .small-12.columns
                                %h4= difficulty
                                = partial 'machine/rank', locals: { scores: scores }
                - else
                  - items.each do |difficulty, scores|
                    .row
                      .small-12.columns
                        %h3= difficulty
                        = partial 'machine/rank', locals: { scores: scores }
    - else
      %p We're going on a short trip ;)

.row
  .small-12.columns
    = link_to 'Back', machines_path
